@font-face{
    font-family: Manrope;
    src: url("/static/Manrope/static/Manrope-Medium.ttf");
}
@font-face {
    font-family: Manrope-light;
    src: url("/static/Manrope/static/Manrope-ExtraLight.ttf");
}
@font-face {
    font-family: Manrope-bold;
    src: url("/static/Manrope/static/Manrope-ExtraBold.ttf");
}
*{
    background: rgb(20, 48, 156);
}
h1{
    font-family: Manrope, serif  ;
    font-style: normal;
    font-weight: bold;
    font-size: 6vw;
    color: #FFFFFF;
    margin-left: 22vw;
    margin-bottom: 0;
}
@media all and (max-width: 618px) {
    h1{
        margin-left: 0;
        margin-right: 0;

        width: 100%;
        text-align: center;
        font-size: 48px;
    }
}
.caption_for_h1{
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color:white;
    margin-left: 34vw;
}
@media all and (max-width: 618px) {
    .caption_for_h1{
        margin-left: 0;
        font-size: 15px;
        text-align: center;
    }
}

.about{
    color:white;
    margin-top: 35px;
    margin-left: 16vw;
    margin-right: 16vw;
    font-family: Manrope-light, serif;
    font-size: 24px;
    text-align: center;
}
.about > strong{
    font-family: Manrope-bold, serif;
    font-weight: bold;
}
@media all and (max-width: 618px){
    .about{
        font-size: 12px;
    }
}
.dialog-smiles{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.left-message-and-smile{
    margin-left: 4%;
}
.left-message{
    background: #E06337;
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    height: 10vw;
    color: #FFFFFF;
    width: 58vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 54px 54px 54px 0px;
}
.left-smiles{
    width: 26vw;
    position: relative;
    top: -6vw;
    background: none;
}
.right-message-and-smile{
    margin-right: 5%;
    margin-top: 6vw;
}
.right-message {
    background: #E06337;
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    height: 10vw;
    color: #FFFFFF;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 54px 54px 0px 54px;
}
.group_answer_people{
    display: flex;
}
.group_answer_people > img:nth-child(1){
    width: 11vw;
    height: 11vw;
    position: relative;
    left: -6vw;
    top: -1vw;
    transform: rotate(-5.45deg);
}
.group_answer_people > img:nth-child(2){
    width: 15vw;
    height: 15vw;
    position: relative;
    left: -10vw;
    top: -4vw;
    transform: rotate(0);
}
.group_answer_people > img:nth-child(3){
    width: 15vw;
    height: 15vw;
    position: relative;
    left: -16vw;
    top: -5vw;
    transform: rotate(0);
}
.group_answer_people > img:nth-child(4){
    width: 11vw;
    height: 11vw;
    position: relative;
    left: -20vw;
    top: 0vw;
    transform: rotate(0);
}
.group_answer_people > img{
    width: 11vw;
    background: none;
}
#programms > h3{
    width: 80vw;
    height: 146px;
    font-size: 5vw;
    color: white;
    font-family: Manrope, serif;
    background-size: 20px 20px ;
}

#span_programms{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    background: #E06337;
    width: 466px;
    height: 77px;
    text-align: center;
    font-size: 5vw;
}

.list{
    display: flex;

    color:white;
    font-family: Manrope, serif;
    font-size: 1vw;
    width: 100%;
    height: 74px;
    justify-content: space-between;
    border: white solid 1px;
    margin-top: 12px;
}

#list_programms{
    
    flex-wrap: wrap;
}

#list > p{
    height: 45px;
}

#programms{
    margin-left: 5vw;
}

.list > span{
    font-size: 24px;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

#grid{
    display: grid;
    grid-template-columns: 70% 25%;
    justify-content: space-between;
}

.comments_about_programms{
    margin:0px;
}

#girls_comment_two{
    margin-left: 4vw;
}


.span_comments{
    top: -10px;
    position: relative;
    width: 20vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 65px;
    background: #E06337;
    color: white;
    font-family: Manrope, serif;
    border-radius: 25.6527px 25.6527px 0px 25.6527px;
}

.comments_about_programms > div > img{
    background: white;
    border-radius: 90px;
    width: 166px;
    height: 166px;
}

#span_comments_id_one{transform: rotate(+10deg);}
#span_comments_id_two{transform: rotate(-5deg);}
#span_comments_id_three{transform: rotate(+5deg); }

#span_on_list{
    color:white;
    font-family: Manrope,serif;
    font-size: 16px;
    margin-left: 45vw;
}

@media all and (max-width: 618px){
    #span_on_list{
        margin-left: 0px;
    }
    .list{
        height: 100px;
        text-align: left;
        display: block;
    }

    .list > span{
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 20px;
    }
    #grid{
        display: block;
    }
    #span_programms{
        width: 80vw;
        height: 11vw;
        font-size: 9vw;
    }
    .comments_about_programms{
        margin-top: 20px;
    }
    .span_comments{
        margin-left: 20vw;
        width: 50vw;
    }

    .comments_about_programms > div > img{
        margin-left: 20vw;
    }

    #girls_comment_two{
        margin-left: 30vw;
    }

    #programms > h3{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 9vw;
    }

}