@font-face{
    font-family: Manrope;
    src: url("/static/Manrope/static/Manrope-Medium.ttf");
}
@font-face {
    font-family: Manrope-light;
    src: url("/static/Manrope/static/Manrope-ExtraLight.ttf");
}
@font-face {
    font-family: Manrope-bold;
    src: url("/static/Manrope/static/Manrope-ExtraBold.ttf");
}
*{
    background: rgb(20, 48, 156);
}
h1{
    font-family: Manrope, serif  ;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    color: #FFFFFF;
    margin-left: 22vw;
    margin-bottom: 0;
}
@media all and (max-width: 618px) {
    h1{
        margin-left: 0;
        margin-right: 0;

        width: 100%;
        text-align: center;
        font-size: 48px;
    }
}
.caption_for_h1{
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color:white;
    margin-left: 34vw;
}
@media all and (max-width: 618px) {
    .caption_for_h1{
        margin-left: 0;
        font-size: 15px;
        text-align: center;
    }
}

.about{
    color:white;

    margin-top: 35px;
    margin-left: 16vw;
    margin-right: 16vw;
    font-family: Manrope-light, serif;
    font-size: 24px;
    text-align: center;
}
.about > strong{
    font-family: Manrope-bold, serif;
    font-weight: bold;
}
@media all and (max-width: 618px){
    .about{
        font-size: 12px;
    }
}

#programms > h3{
    font-size: 72px;
    color: white;
    font-family: Manrope, serif;
    background-size: 20px 20px ;
}


#span_programms{
    margin: 0px 0px 0px 0px;
    background: #E06337;
    width: 466px;
    height: 77px;
    text-align: center;
    font-size: 72px;
}

.list{
    color:white;
    font-family: Manrope, serif;
    font-size: 24px;
    width: 1015px;
    height: 74px;
    justify-content: space-between;
    border: white solid 1px;
    margin-top: 12px;
}

#list_programms{
    display: flex;
    flex-wrap: wrap;
}

#list > p{
    display: flex;
    width: 899px;
    height: 45px;
}
